// Core variables and mixins
@import "../vendor/bootstrap/less/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

// Reset
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/print.less";

// Core C../vendor/bootstrap/less/SS
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/type.less";
@import "../vendor/bootstrap/less/code.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/tables.less";
@import "../vendor/bootstrap/less/forms.less";
@import "../vendor/bootstrap/less/buttons.less";

// Compon../vendor/bootstrap/less/ents
@import "../vendor/bootstrap/less/component-animations.less";
@import "../vendor/bootstrap/less/glyphicons.less";
@import "../vendor/bootstrap/less/dropdowns.less";
@import "../vendor/bootstrap/less/button-groups.less";
@import "../vendor/bootstrap/less/input-groups.less";
@import "../vendor/bootstrap/less/navs.less";
@import "../vendor/bootstrap/less/navbar.less";
@import "../vendor/bootstrap/less/breadcrumbs.less";
@import "../vendor/bootstrap/less/pagination.less";
@import "../vendor/bootstrap/less/pager.less";
@import "../vendor/bootstrap/less/labels.less";
@import "../vendor/bootstrap/less/badges.less";
@import "../vendor/bootstrap/less/jumbotron.less";
@import "../vendor/bootstrap/less/thumbnails.less";
@import "../vendor/bootstrap/less/alerts.less";
@import "../vendor/bootstrap/less/progress-bars.less";
@import "../vendor/bootstrap/less/media.less";
@import "../vendor/bootstrap/less/list-group.less";
@import "../vendor/bootstrap/less/panels.less";
@import "../vendor/bootstrap/less/wells.less";
@import "../vendor/bootstrap/less/close.less";

// Compon../vendor/bootstrap/less/ents w/ JavaScript
@import "../vendor/bootstrap/less/modals.less";
@import "../vendor/bootstrap/less/tooltip.less";
@import "../vendor/bootstrap/less/popovers.less";
@import "../vendor/bootstrap/less/carousel.less";

// Utilit../vendor/bootstrap/less/y classes
@import "../vendor/bootstrap/less/utilities.less";
@import "../vendor/bootstrap/less/responsive-utilities.less";

html, body {
  height: 100%;
}

body {
  position: relative; /* For scrollyspy */
  padding-top: 0; /* Account for fixed navbar */
}

.main-logo-container {
    // position: absolute;
    // left: 10px;
    // top: 5px;
    //width: 250px;
    padding-top: 20px;
    display: block;
    text-align: center;
    .brand-col {
      padding-right: 0;
    }
    img {
        .img-responsive();
        .center-block();
        //min-height: 72px;
        min-width: 86px; 
        margin-bottom: 10px;
    }


}

#mobile-logo {
  margin-bottom: 20px;
}

a.logo {
    
    font-family: 'Vollkorn', serif;
    font-weight: 400;        
    font-size: @font-size-h3;
    line-height: 1.0;
    .line1 {       
        font-weight: 400;
    }
}
a.logo:hover  {
      //color: @primary;
      text-decoration: none;
};

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* 
 * Variables & General
 */

@primary: #171b4a;
@primary-bg: lighten(@primary, 75%);

 
// Primary Variants -
@primaryLight:   hsl(hue(@primary), 100%, 70%);
@primaryDark:    hsl(hue(@primary), 60%, 40%);
@primaryFaded:   hsl(hue(@primary), 60%, 65%);
 
// 180degree Variants
@variant:         spin((@primary), 180);
@variantLight:    hsl(hue(@variant), 100%, 70%);
@variantDark:     hsl(hue(@variant), 60%, 40%);
@variantFaded:    hsl(hue(@variant), 60%, 65%);
 
// 90degree Variants
@corner:         spin((@primary), 70);
@cornerLight:    hsl(hue(@corner), 100%, 70%);
@cornerDark:     hsl(hue(@corner), 60%, 40%);
@cornerFaded:    hsl(hue(@corner), 60%, 65%);

a {
    color: @primary;
    :hover,:focus {
      color: @primary;
      text-decoration: none;
    };
}

.colortest {
    height: 30px;
}
#color1 { background-color: @primary;}
#color2 { background-color: @primaryLight;}
#color3 { background-color: @primaryDark;}
#color4 { background-color: @primaryFaded;}
#color5 { background-color: @variant;}
#color6 { background-color: @variantLight;}
#color7 { background-color: @variantDark;}
#color8 { background-color: @variantFaded;}
#color9 { background-color: @corner;}
#color10 { background-color: @cornerLight;}
#color11 { background-color: @cornerDark;}
#color12 { background-color: @cornerFaded;}


/*
 * Top Navbar
 *
 */

.navbar-fixed-top {
    background-color: @primary;
    //height: 50px;
    color: #fff;
    .navbar-toggle .icon-bar {
      background-color: #fff;
    }
    a {
      color: #fff;
    }
    .navbar-right a {
      color: @primary;
    }
    li > a {
      //padding: 10px 5px 20px 0px;      
      color: #fff;
      
      line-height: 10px;
      //font-size: @font-size-h3;
      font-weight: 300;
      font-family: 'Open Sans','sans serif'; 
    }
    li > a:hover, li > a:focus {
      background-color: transparent;
      text-decoration: none;
      //color: @primary;
      color: #fff;
      
    }

}



#bottom-line
{
  position: fixed;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: @primary;
  z-index: 10;
}

article {
  background-color: hsl(hue(@variant), 10%, 95%);
  padding: 0 50px 50px 50px;
  margin-bottom: 0px;
  border-radius: 2px;
  p {
    //text-align: justify;
  }
  h1 {
    //padding-top: 30px;
    margin-top: -10px;
  }
}

article:first-of-type {
  padding-top: 20px;
}
 

.hero-unit {
  background-size: cover;
  background-position: 50% 50%;
  height: 230px;
  //margin-bottom: 30px;
  border-radius: 2px;
}
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* No sidebar when width < 768 */
.bs-sidebar {
  position: fixed;
  display: none;
  //border: 1px solid red;
  //float: right;
  //z-index: 5;
  //width: 100%;
  //right: 0;
  //position: static;
}
.sidebar-wrapper {
  position: absolute;
  right: 0;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  //border-right: 1px solid @primary;
  //.box-shadow(inset 1px 0px 0px @primary);
  //text-shadow: 0 1px 0 #fff;

}
.main-column {
  // background-color: hsl(hue(@variant), 50%, 95%);
  // padding: 20px 30px;
  // border-radius: 2px;
  //border: 1px solid green;
  //height: 100%;
  padding-top: 50px;
}

.sidebar-column {
  //border: 1px solid blue;
  position: relative;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: @primary;
  font-size: @font-size-h3;
  font-weight: 300;
  text-align: right;
  //text-transform: uppercase;
  font-family: 'Open Sans','sans serif';
  padding: 5px 20px;
  margin: 0 0 5px 0;
  //.button-variant(#fff; transpar; @primaryLight)
  border-radius: 2px;
}
.bs-sidebar .lang-nav > li > a {
  font-size: @font-size-h5;
}

.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  background-color: @primary;
  text-decoration: none;
  color: #fff;
  //background-color: transparent;
  //border-right: 1px solid @primary;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  //font-weight: 400;
  //color: #563d7c;
  //background-color: transparent;
  border-right: 1px solid #000;
  background-color: @primary;
  color: #fff;

}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-right: 30px;
  font-size: @font-size-h5;
  font-weight: 400;
}


/* Show and affix the side nav when space allows it */
@media (min-width: @screen-tablet) {
  // show the sub menu
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  // .bs-sidebar.affix,
  // .bs-sidebar.affix-bottom {
  //   width: 213px;
  // }

  .navbar-fixed-top {
    min-height: 5px;
    max-height: 5px;
  }

  .main-column {
    padding-top: 5px;
  }

  #mobile-logo {
    display: none;
  }

  .mobile-nav-header {
    display: none;
  }

  .mobile-nav-items {
    display: none;
  }
  .bs-sidebar {
    //position: fixed; /* Undo the static from mobile first approach */
    //top: 20px;
    width: 190px;
    display: block;
  }
  .sidebar-wrapper
  {
    width: 190px;
  }
  // .bs-sidebar.affix-bottom {
  //   position: absolute; /* Undo the static from mobile first approach */
  // }
  // .bs-sidebar.affix-bottom .bs-sidenav,
  // .bs-sidebar.affix .bs-sidenav {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
}
@media (min-width: @screen-desktop) {
  
  .bs-sidebar {
    width: 213px;
  }
  .sidebar-wrapper
  {
    width: 213px;
  }
}

@media (min-width: @screen-lg-desktop) {
 
  .bs-sidebar {
    width: 263px;
  }
  .sidebar-wrapper
  {
    width: 263px;
  }
}



