<li{{#is slug "about"}} class="active"{{/is}}>
  <a href="./about.html">{{#tr "club"}}{{capitalizeFirst translated}}{{/tr}}</a>
</li>
<li{{#is slug "program"}} class="active"{{/is}}>
  <a href="./program.html">{{#tr "program"}}{{capitalizeFirst translated}}{{/tr}}</a>
</li>
<li{{#is slug "contact"}} class="active"{{/is}}>
  <a href="./contact.html">{{#tr "contact"}}{{capitalizeFirst translated}}{{/tr}}</a>
</li>   