<header class="navbar navbar-fixed-top" role="banner">
  <div class="container">
    <nav role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li{{#is language "fi"}} class="active"{{/is}}>
          <a href="/fi/index.html">Suomeksi</a>
        </li>
        <li{{#is language "se"}} class="active"{{/is}}>
          <a href="/se/index.html">På Svenska</a>
        </li>
      </ul>
    </nav>
  </div>
</header>