<header class="navbar navbar-fixed-top" role="banner">
  <div class="container">
{{!--     <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div> --}}
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li{{#is language "fi"}} class="active"{{/is}}>
          <a href="/fi/index.html">Suomeksi</a>
        </li>
        <li{{#is language "se"}} class="active"{{/is}}>
          <a href="/se/index.html">På Svenska</a>
        </li>
      </ul>
    </nav>
  </div>
</header>